*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../img/IMG-20250409-WA0077.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 550px;
 }
 .Logo{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 20px;
   
  }

 .bg{
    width: 1300px;
    margin-left: 30px;
    margin-top: 80px; 
            height: 500px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(
                rgba(64, 64, 64, 0.7), 
                rgba(64, 64, 64, 0.7) 
            );
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
   
}

  .FORM{
    margin-left:550px;
    margin-top: 100px;
    position: absolute;
    color: white;
    
    }
    form{
        display: grid;
        width: 250px;
        gap: 14px;
        padding: 20px;
        text-align: right;
        font-weight: bold;
    
    }
    input{
        border-radius: 5px;
        border: 1px solid #900B09;
        text-align: right;
        color: white;
        background: linear-gradient(
            rgba(64, 64, 64, 0.7), 
            rgba(64, 64, 64, 0.7) 
        );
        padding: 5px;
    }
    button{
        border-color:#FF0400;
    background-color:#FF0400;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
   
    }
    button:hover{
        background-color: white;
        color: #FF0400;
        border-color: white;
    }
    .Data{
        padding: 5px;
    }
    h1{
        color: white;
        position: absolute;
        margin-bottom: 300px;
        margin-left: 900px;
    }
    .line{
        width: 200px;
        height: 2px;
        background-color: #FF0400;
        position: absolute;
        margin-bottom: 250px;
        margin-left: 900px;
    
    }
    img{
        width: 200px;
        height: 200px;
        position: absolute;
        margin-bottom: 300px;
    }
    .DATE{
        color: white;
    }