*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/IMG-20250409-WA0077.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 800px;
 }
 .logo{
    width: 200px;
    height: 200px;
    position: absolute;
  margin-top: 40px;
  }

 .bg{
    width: 1300px;
    margin-left: 30px;
    margin-top: 30px;
            height: 750px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(
                rgba(64, 64, 64, 0.7), 
                rgba(64, 64, 64, 0.7) 
            );
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
   
}
.navbar{
    margin-top: 70px;
    margin-left: 920px;
    justify-content: space-between;
    position: absolute;

}
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: larger;
    font-weight: bold;
  }
  .z:hover{
    color: #FF0400;
    border-bottom:  solid  #FF0400;
    border-width: 4px;
    padding-bottom: 5px;
  }
  img{
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 20px;
}
.para{
    color: white;
    text-align: center;
    margin-top: 120px;
    position: absolute;
    margin-left:300px;
}
.card{
    background: linear-gradient(
        rgba(64, 64, 64, 0.7), 
        rgba(64, 64, 64, 0.7) 
    );
    margin-left: 50px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.card:hover {
    transform: scale(1.2) ;
  }
  
.CARD{
    display: flex;
    margin-top: 70px;
   align-items: center;
}
.Gifts{
    position: absolute;
    margin-top:180px;
    margin-left: 350px;
}
i{
    font-size: 30px;
   
}
.line{
    width: 200px;
    height: 2px;
    background-color: #FF0400;
    position: absolute;
    margin-left: 280px;
    margin-top: 10px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);

}
.life{
    margin-top: 30px;
}
button{
    padding: 5px;
    width: 65px;
    margin-left: 10px;
    font-weight: bolder;
    border-radius:7px;
    background-color: #FF0400;
    border-color:#FF0400 ;
    color: white;
    margin-top: 20px;
}
button:hover{
    background-color: white;
    color: #FF0400;
  border-color: white;
}